/* ## Import fonts ## */
/* IBM Plex Sans (Static / Regular 400, Blod 700) */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
/* IBM Plex Sans JP (Static / Regular 400, Blod 700) */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;700&display=swap');

:root {
  font-family: "IBM Plex Sans JP", "IBM Plex Sans", sans-serif;
}

video,
canvas {
  border-radius: 16px;
}

#QR center div {
  align-items: center;
  max-width: 512px;
  max-height: 512px;
}
